<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/">
        Hair <input type="checkbox" value="0" name="mycheckbox">
        Food <input type="checkbox" value="1" name="mycheckbox">
        Massage/Spa <input type="checkbox" value="2" name="mycheckbox">
        Museum/Art <input type="checkbox" value="3" name="mycheckbox">
        Tour/Learning <input type="checkbox" value="4" name="mycheckbox">
        Nature/Sightseeing <input type="checkbox" value="5" name="mycheckbox">
        Personal Care <input type="checkbox" value="6" name="mycheckbox">
        Zoo/Animals <input type="checkbox" value="7" name="mycheckbox">
        Puzzles <input type="checkbox" value="8" name="mycheckbox">
        Physical Activity <input type="checkbox" value="9" name="mycheckbox">
        Facial/Relax<input type="checkbox" value="10" name="mycheckbox">
        Shopping <input type="checkbox" value="11" name="mycheckbox">
        Adventure/Excursion <input type="checkbox" value="12" name="mycheckbox">
        <input type="Submit" name="Generate Activity Recommendation">
    </form>
</body>
</html>